body {
  background-size: cover;
  background-color: black;
  font-family: 'Rubik', sans-serif;

}

.jumbotron {
margin-top: 200px;

}
.btn {


}
h1 {
  text-align: center;
  color: white;

}

.uppermargin{
  margin-top: 75px;
}
